
/*arrow*/
/*
.arrow-right {
    width: 0px;
    height: 0px;
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent;
    border-left: 60px solid green;
}*/
.arrow-left{
    width: 0px;
    height: 0px;
    border-top: 100px solid transparent;
    border-bottom: 100px solid transparent;
    border-right: 100px solid #504541;
    float: left;
}
.allow-left:hover{
	    width: 0px;
    height: 0px;
    border-top: 100px solid transparent;
    border-bottom: 100px solid transparent;
	border-right: 100px solid #ca491a;
	float: left;
}

h1#play{
	    text-align: center;
    color: white;
    font-family: inherit;
    line-height: 2.5;
}

div.rules{
	    margin: 20px;
    width: 395px;
    background-color: #bfc7c5;
    padding: 20px;
        margin-left: 414px;
}
.text-center{
	font-family: 'Pacifico', cursive;
	text-size:100px;
}
#card-circle{
  border: solid 2px red ;
}
